.jumbotron {
    margin-bottom: 0px;
    background-image: url(../img/steel.JPG);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: #55e1e1;
    text-shadow: black 0.3em 0.3em 0.3em;
}

.jumbotron .container {
	padding: 4em 0 4em 0;
}

#phone {
	float: right;
}

.container .row {
	margin-top: 1em;
}